/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.conteiner {
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.content {
  flex: 1 1 auto;
}
.hi {
  background-color: #445161;
  padding: 50px 0px;
}
.hi__content {
  padding: 0px 30px 0px 0px;
}
.hi__title {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 50px;
}
.hi__list {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}
.hi__list li {
  background: url(img/check\ icon.png) 0 8px no-repeat;
  padding: 0px 0px 0px 36px;
  margin-bottom: 10px;
}
.hi__list li:last-child {
  margin-bottom: 0px;
}
.title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}
.what {
  margin-top: 50px;
}

.what__bodu {
  display: flex;
}
.what__imeges {
  flex: 0 0 430px;
}
.what__imeges img {
  max-width: 100%;
}
.what__content {
  flex: 1 1 auto;
  padding-left: 38px;
}
.what__title {
  margin-bottom: 30px;
}

.what__text p {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.columns {
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
}

.columns__title {
  text-align: center;
  margin-bottom: 30px;
}

.columns__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -8px;
}
.columns__column {
  display: flex;
  flex: 0 1 50%;
  margin-bottom: 30px;
  padding: 0 8px;
}
.columns__img {
  flex: 0 0 200px;
  margin-right: 20px;
}
.columns__body {
  flex: 1 1 auto;
}
.columns__header {
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}
.columns__text {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.vertical {
  padding: 50px 0;
}

.vertical__content {
  width: 990px;
  margin: 0px auto;
}
.vertical__title {
  text-align: center;
  margin-bottom: 30px;
}

.vertical__row {
  display: flex;
  padding: 0px -20px;
}
.vertical__column {
  display: flex;
  flex: 0 1 33.333%;
  padding: 0 20px;
}
.vertical__item {
  display: flex;
  flex-direction: column;
  background-color: #445162;
  color: #ffffff;
  padding-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #445162;
}
.vertical__subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 12px 0;
}
.vertical__label {
  text-align: center;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
  background-color: #ffffff;
  padding: 20px 0;
}
.vertical__text {
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding: 10px 20px;
}
.vertical__text p {
  margin-bottom: 15px;
}
.vertical__text p:last-child {
  margin-bottom: 0px;
}

.vertical__btn {
  display: block;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0px 20px;
  height: 40px;
  text-align: center;
  padding: 10px 20px;
}
.vertical__btn a {
  font-size: 18px;
  line-height: 18px;
  color: #445161;
  font-weight: bold;
}

.vertical__footer {
  text-align: center;
  background-color: #f5f5f5;
}
.vertical__footer-text {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #445162;
  padding: 15px 0px;
}
